.header {
  background-color: #007bff;
  color: #f4f4f4;
  padding: 0; /* Remove extra vertical space */
  height: 135px; /* fixed header height */
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: #f4f4f4;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding-right: 20px;
}

.nav-item {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #e2e2e2;
}

.menu-toggle {
  display: none;
}

.logo-img {
  height: 6.5rem;
  width: auto;
  object-fit: contain;
  /* filter: brightness(0) invert(1) */
}


@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    color: #f4f4f4;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav-links {
    flex-direction: column;
    background-color: #0069d9;
    position: absolute;
    top: 45px;
    right: 20px;
    padding: 10px;
    border-radius: 8px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }
}
